.notFound h1 {
    text-align: center;
}

.link {
    text-align: center;
    color: black;
    font-weight: 500;
    transition: .1s;
    display: block;
}

.link:hover {
    color: rgba(0, 0, 0, 0.5); 
}