.link {
    text-decoration-line: none;
    color: black;
    font-weight: 500;
    transition: .1s;
}

.userInfo {
    list-style-type: none;
    padding: 0;
}

.link:hover {
    color: rgba(0, 0, 0, 0.5); 
}