.albums {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.link {
    text-decoration-line: none;
    color: black;
    font-weight: 500;
    transition: .1s;
}

.link:hover {
    color: rgba(0, 0, 0, 0.5); 
}